<!DOCTYPE html>
<html lang="fr">
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Font Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

		<!-- Font Merienda -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">

		<!-- Fichier CSS -->
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/nav.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/mediaQuery.css">


		<title>Asso CTR - Accueil</title>
	</head>

	<body>
		<div class = ensemble>
			<header class="header">
				<a class = "header__logoCTR" href="/"><img src="/images/logoCTR.png" alt="Logo CTR" /></a>
				<div class = header__titles>
					<h1 class="header__titles-main">Les Chevaliers de la Table Raz</h1>
					<h2 class="header__titles-sub">Association loi 1901 de jeux de figurines à Bonnefamille (38)</h2>
				</div>	

				<div class = "header__social">
					<a href="https://www.facebook.com/LesChevaliersDeLaTableRaz"><img src="/images/facebook.png" alt="Page facebook des Chevaliers de la Table Raz" /></a>
				</div>
			</header>