<nav class="navbar">
    <span class="navbar__menu-for-little-screen">Menu</span>
    <ul class="navbar__list">
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/association">L'Association</a>
        <li>
            <a href="/ligues">Les Ligues</a>
            <ul>
                <li><a href="/ligues/bloodbowl">Blood Bowl</a></li>
                <!-- <li><a href="/ligues/age-of-sigmar">AOS</a></li> -->
            </ul>
        </li>
        <li>
            <a href="/summer-games">Les Summer Games</a>
            <ul>
                <li><a href="/summer-games/2023">Edition 2023</a></li>
                <li><a href="/summer-games/2022">Edition 2022</a></li>
            </ul>
        </li>
    </ul>

</nav>

<script src="/script/nav.js"></script>