<%- include('partials/header') %>
<%- include('partials/nav') %>

			<section class="information"> <!--Affiche l'actualité du moment-->
				<div class="gazette">
				


					<article class="gazette__article">
						<img  class="gazette__article-image" src="/images/article-lancementBloodBowl.png" alt="">
						<div class="gazette__article-body">
							<h1 class="gazette__article-body-title">KnightBowl 5 - Jour 2 : winter is coming (01/11/2022)</h1>
							<p class="gazette__article-body-text">Deuxième journée de la league qui commence ! L'automne est installé, 
								l'hiver arrive au loin et les équipes auront à faire à la "météo automnale" et à la règle "marquage
								ambigu" ! <br> <br>
								(Les résultats du premier tour sont à voir dans la partie "<a href="/ligues/bloodbowl">Ligue</a>").</p>						
						</div>
					</article>

					<article class="gazette__article">
						<img  class="gazette__article-image" src="/images/article-Avengers-Manhattan.jpg" alt="">
						<div class="gazette__article-body">
							<h1 class="gazette__article-body-title">La bataille pour Manhattan a commencé ! [Marvel: Crisis Protocol] (18/10/2022)</h1>
							<p class="gazette__article-body-text">Sueur froid sur New York ! Les super-héros et super-vilains se 
								disputent Manhattan ! <br>
								Début de la mini campagne Marvel: Crisis Protocol à l'association des Chevaliers de la Table Raz !<br><br>
								Retrouver les résultats dans la partie "Ligue".
							</p>						
						</div>
					</article>

					<article class="gazette__article">
						<img  class="gazette__article-image" src="/images/article-lancementBloodBowl.png" alt="">
						<div class="gazette__article-body">
							<h1 class="gazette__article-body-title">Lancement de la 5ème ligue Blood Bowl (01/10/2022)</h1>
							<p class="gazette__article-body-text">Le Chevalier de la Table Raz a l'honneur de vous présenter son 5ème tournoi !
								Exceptionnellement cette année, le tournoi aura lieu dans la ville maléfique et troglodyte de Trollimar. 
								Chaque semaine, un terrain et une météo différente ! <br><br>
								Bienvenus au grand tournoi de Blood Bowl de Trollimar, cité du Maaaaaal.</p>						
						</div>
					</article>

					<article class="gazette__article">
							<img  class="gazette__article-image" src="/images/article-newStaff.png" alt="">
							<div class="gazette__article-body">
								<h1 class="gazette__article-body-title">Assemblée Générale 2022 (28/09/2022)</h1>
								<p class="gazette__article-body-text">Le 28 septembre a eu lieu l'Assemblée Générale des Chevaliers 
									de la Table Raz. En plus des jeux de figurines, il a été décidé à partir de cette année d'ouvrir 
									l'association à tous les types de jeux (cartes à collectionner, jeux de plateaux expert, jeu de rôle). 
									A cette occasion, un <a href="/association">nouveau bureau a été élu</a>.</p>	 					
							</div>
					</article>
				</div>

 				<!--Affiche les évènements et informations importantes à venir-->
				<!-- <aside class="important">
					<h1 class="important__title"></h1>
					<p class="important__text"></p>
					<img class="important__image" src="..//images/coupeBB.png" alt="">
				</aside> -->
			</section>
			
		</div>

		<%- include('partials/footer') %>
	</body>
</html>