<%- include('partials/header') %>
<%- include('partials/nav') %>

			<section>
				<!--Permet de retrouver rapidement les jeux et photos correspondantes-->
				<!-- <aside class = menu> 
					<ul class="menu__list">
						<li><a href="#AOS">Age Of Sigmar</a></li>
						<li><a href="#40K">Warhammer 40.000</a></li>
						<li><a href="#legion">Star Wars Legion</a></li>
						<li><a href="#bloodBowl">Blood Bowl</a></li>
					</ul>
				</aside> -->

				<article class="photos"> <!--Affiche l'actualité du moment-->
					<!-- <h1 id = "AOS">Age of Sigmar</p>
					<h1 id = "40K">Warhammer 40.000</p>
					<h1 id = "legion">Star Wars Legion</p>
					<h1 id = "bloodBowl">Blood Bowl</p> -->
					<img class="photos__image" src="/images/SM2022/photo1.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo2.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo3.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo4.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo5.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo6.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo7.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo8.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo9.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo10.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo11.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo12.jpg" alt="Photo Summer Games">
					<img class="photos__image" src="/images/SM2022/photo13.jpg" alt="Photo Summer Games">
				</article>
			</section>
		</div>

		<%- include('partials/footer') %>
	</body>
</html>