<%- include('partials/header') %>
<%- include('partials/nav') %>

			<section>
				<aside class = event>
					<p>!!!</br></br>Les prochains Summer Games auront lieu au printemps 2023</br></br>!!!</p>
				</aside>

				<article class="actuality"> <!--Affiche l'actualité du moment-->
					<p>Plus d'informations début 2023.</p>
				</article>
			</section>
		</div>

		<%- include('partials/footer') %>
	</body>
</html>